# Virtual environment
.venv/
venv/
__pycache__/

# Environment files
.env
*.toml
secrets.toml

# Streamlit cache
.streamlit/
.cache/
__pycache__/

# Python artifacts
*.pyc
*.pyo
*.pyd
*.DS_Store

# Logs
*.log


# System
.DS_Store
.idea/
.vscode/
