streamlit==1.42.0

# LangChain 0.3 serisi (Py3.13 uyumlu)
langchain==0.3.18
langchain-core==0.3.34
langchain-community==0.3.17
langchain-openai==0.3.4      # (LLM kullanmayacaksan yine de kalabilir; sorun çıkarmaz)
langchain-pinecone==0.2.12

pinecone==5.4.2
huggingface-hub==0.24.0

pydantic==2.11.10
python-dotenv==1.0.1
pypdf==5.3.0
requests==2.32.3

